h1{
    color: white;
    text-align: center;
}
*{
    border: none;
}
.header{
    display : flex;
    justify-content : space-evenly;
}
.grid{
    display : flex;
    flex-wrap: wrap;
    justify-content : space-evenly;
}
h2{
    color:rgb(241, 233, 233);
    text-align: center;
}
body{
    background-image: url("OrigamiImages/images/bgimg.jpeg");
}
.menu{
    display:flex;
    margin-left:25% ;
    margin-right:25% ;
    justify-content: space-between;
}
.item{
    margin-top: 10px;
    padding: 2%;
    border:5px solid white;
    position: relative;
    border-radius: 20%;
}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;

    opacity: 0.5;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.3;
}

.item img{
    width: 300;
    height:300;
}
a:visited{
    color: white;
}
.button{
    border:solid white;
    padding: 10px;
    border-radius: 20%;
}
h3{
    color: white;
}